/* 全局样式设置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 900;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;;
  background-size: cover;
}

.all-container-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#loginForm {
  background: white;
  border-radius: 15px;
  width: auto;
  height: auto;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 1.0);
  text-align: center;
  color: white;
}

.inputDiv{
  padding: 20px;
}

#loginForm h2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #6236ff;
  margin-bottom: 20px;
  font-size: 2em;
  color: white;
  padding: 20px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0 10px;
  border: none;
  border-bottom: 3px solid black;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1em;
}

.submit-btn {
  background-color: #6236ff;
  color: white;
  border: none;
  padding: 10px 100px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.submit-btn:disabled {
  background-color: #9b8cff;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background-color: #4420b9;
}

#loginMessage {
  margin-top: 15px;
  font-size: 0.9em;
  color: red;
}

/* 样式调整：移除其他不需要的部分 */
#loginForm a,
#loginForm p {
  display: none;
}

/* 视觉效果调整 */
#outer0::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#loginMessage {
  color: red;
}


