html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #f0f0f0;
    min-height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* 菜单按钮样式 */
.menuBtnC {
    cursor: pointer;
}

.menuBtnC i{
    font-size: 45px;
    font-weight: 900;
}

.userInfoR{
    display: flex;
}

.welcome-message{
    font-size: 16px;
    font-weight: 900;
    align-content: center;
}

.logout-btn{
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

.logout-btn i{
    font-size: 40px;
}

footer{
    margin: 100px 0;
}

/* 样式：隐藏的侧边栏 */
.sidebar {
    position: fixed;
    top: 0;
    left: -400px; /* 初始位置为隐藏 */
    width: 230px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease; /* 动画效果 */
    z-index: 1000; /* 确保在最上层 */
}

/* 侧边栏显示时 */
.sidebar.active {
    left: 0; /* 显示时的左侧位置 */
}

.sideBarTopCont{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 10px;
}

.close-btn{
    padding: 0;
}

.sideBarTopCont i{
    font-size: 26px;
}

.sideBarTopCont h2{
    font-size: 25px;
    margin-left: 20px;
}

.bxs-wallet-alt, .bxs-game, .bxs-cog, .bxs-error-alt, .bxs-image, .bx-link-alt, .bxs-user-circle, .bx-unlink {
    font-size: 22px;
    font-weight: 900;
    margin-right: 5px;
}

.sidebar a {
    color: white;
    font-size: 16px;
    font-weight: 900;
    display: block;
    padding: 7px 0 7px 20px;
    text-decoration: none;
    display: flex;
}

.sidebar a:hover {
    background-color: #555;
}

.gameLog-FullPage-Wrapper{
    padding: 0 30px;
}

.gameLog-fullwrapper{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: grid;
}

.gameLog-container{
    padding: 10px 30px;
    padding-bottom: 0;
}

.gameLogTable {
    width: 800px;
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid #e2e2e2;
}

.gameLogTable th{
    color: white;
}

.gameLogTable td{
    background-color: white;
    color: #5f5f5f;
}

.gameLogTable th, td {
    border: 1px solid #f1f1f1;
    padding: 8px;
    text-align: center;
}

.red-text {
    color: #dd4b39 !important;
    font-weight: 700;
}

.bg-gray {
    background-color: #d2d6de !important;
    border-radius: 50%;
    padding: 3px 7px;
    font-weight: 700;
    font-size: 10px;
}

#loading {
    display: none;
    font-size: 16px;
}

.gameLogLoading{
    text-align: center;
    color: black;
    font-weight: 900;
    margin-top: 40px;
}

.bx-loader-circle{
	-webkit-animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.gameLogLoading i{
    text-align: center;
    color: black;
    font-size: 200px;
}

.gameLogSelBtn {
    margin: 20px 0;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    background-color: white;
    padding: 5px 15px;
    width: 800px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.gameLog-choise-left{
    display: flex;
    align-items: center;
}

.gameLog-selectTime{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.gameLogSelBtn label{
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    display: flex;
}

.gameLogSelBtn i{
    font-size: 20px;
    align-self: center;
    margin-right: 3px;
}

.gameLogSelBtn select,
.gameLogSelBtn input{
    margin-right: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: 900;
    border: none;
    background-color: transparent;
    padding: 3px 0;
}

.gameLogSelBtn option{
    font-size: 12px;
    font-weight: 900;
}

.gameLogSelBtn button{
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.header-918Kiss th { background-color: #605ca8; }
.header-Mega888 th { background-color: #3c8dbc; }
.header-Pussy888 th { background-color: #3c8dbc; }
.header-918Kaya th { background-color: #ff9800; }
.header-Xe88 th { background-color: #9c27b0; }
.header-Evo888 th { background-color: #2196f3; }

.resit-container-wrapper{
    display: grid;
    justify-content: center;
}

.resit-TopChoise{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.resit-TopChoise label{
    font-size: 18px;
    font-weight: 900;
    padding: 0;
    margin-right: 10px;
}

.resit-TopChoise select{
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    border: none;
    background-color: transparent;
}

.resit-TopChoise option{
    font-size: 16px;
    font-weight: 900;
}

.resit-TopChoise button{
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.resit-type-name h1{
    font-size: 22px;
    font-weight: 900;
    padding: 10px 0;
    margin: 0;
}

.content-mbb1{
    font-family: "Lato", "Calibri", Helvetica, Arial, sans-serif;
    justify-content: space-between;
    width: 650px;
    margin: 10px 0;
    background-color: #e7e7e7;
}

.mbb-top-green{
    background-color: #389a6e;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 20px;
    padding-bottom: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top: 0.5px solid #e2e2e2;
    border-left: 0.5px solid #e2e2e2;
    border-right: 0.5px solid #e2e2e2;
    text-align: left;
}

.mbb-top-left{
    display: flex;
}

.mbb-name{
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
}

.mbb-acc, .mbb-amount{
    font-size: 13px;
}

.mbb-tick{
    color: white;
    font-size: 22px;
    margin-right: 10px;
}

.mbb-add-favourite{
    width: auto;
    height: 50px;
}

.mbb-detail-cover{
    font-size: 17px;
    color: #171717;
    padding: 10px 0;
    border-top: 2px solid #ffc83d;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    border-left: 0.5px solid #e2e2e2;
    border-right: 0.5px solid #e2e2e2;
    border-bottom: 0.5px solid #e2e2e2;
}

.mbb-detail-cover span{
    color: #7D7D7D;
}

.mbb-per-detail{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.mbbBankName{
    width: 230px;
    text-align: right;
}

.mbbName{
    width: 330px;
}

.mbb-bottom-detail{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: white;
    margin-top: 3px;
    border-radius: 7px;
    border: 0.5px solid #e2e2e2;
}

.mbb-bottom-detail span{
    color: #DA4747;
}

.cimbPerResit-wrapper{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 20px;
}

.cimbTop-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
    padding: 0 25px;
    width: 724.67px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cimbTop-left{
    display: flex;
    align-items: center;
}

.cimb-Successful{
    color: #7db680;
    font-weight: bold;
    margin: 0 10px;
}

.cimbTop-left p,
.cimbTop-left span{
    font-size: 15px;
}

.cimbTop-Right span{
    font-size: 14px;
}

.cimbCenter-wrapper{
    background-color: #f3f3f3;
    padding: 20px 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 3px solid #d6d6d6;
}

.cimbCenter-left{
    margin: 0;
}

.cimbCenter-Row1{
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.cimbCenter-leftContainer{
    text-align: left;
}

.cimbCenter-rightContainer{
    text-align: right;
}

.cimbCenter-Row1 p{
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
}

.cimbCenter-left-perRow{
    margin-bottom: 25px;
}

.cimbCenter-left-perRow label{
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
}

.cimbCenter-left-perRow span{
    font-size: 15px;
    font-weight: 700;
}

.refreshBtnCover{
    display: flex;
    justify-content: center;
    text-align: center;
}

.refresh-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.refresh-btn:hover {
    background-color: #0056b3;
}

.game-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.game-item {
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px 10px 10px 10px;
}

.game-title {
    text-align: center;
    align-content: center;
}

.game-box {
    width: auto;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    padding: 10px;
}

.game-box:hover {
    background-color: #e1e1e1;
}

.game-box.copied {
    background-color: #32CD32	;
}

.game-box.maintenance {
    background-color: red;  /* Maintenance 状态的背景色为红色 */
    color: white;  /* 文字颜色为白色 */
    font-size: 28px;
    font-weight: 900;
}

.copied-text {
    font-size: 12px;
    font-weight: 900;
    color: green;
    margin-top: 5px;
    text-align: center;
}

.game-content {
    display: block;
    white-space: pre-line;  /* 保持换行 */
}

.reportDiv{
    display: flex;
    justify-content: center;
}

.reportForm {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 400px;
    height: auto;
    text-align: center;
}

.reportForm h2{
    font-size: 24px;
    font-weight: 900;
}

.reportForm textarea {
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-weight: 700;
}

.sendReportBtn {
    padding: 10px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sendReportBtn:hover {
    background-color: #0056b3;
}

#reportResponseMessage {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 900;
    color: green;
}

#products {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.product {
    text-align: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: #f9f9f9;
    max-width: 300px;
}

.image-group{
    height: 100px;
    align-content: center;
    justify-content: center;
}

.product img {
    margin-top: 10px;
    max-width: 90%; /* 确保图片根据容器宽度调整 */
    height: auto;    /* 保持图片比例 */
    max-height: 70px; /* 如果需要，可以限制图片的最大高度 */
}

.link-group {
    margin: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
}

.link-group input {
    width: 100%;
    padding: 8px;
    padding-right: 65px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

.link-group button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 3px 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.link-group button i {
    font-size: 16px;
}

.link-group label {
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
    width: 100px;
    display: inline-block;
    color: #555;
}

.copy-btn:hover {
    background-color: #2980b9;
}

.providers-link-btn-cover{
    display: flex;
}

.link-group button.copy-btn {
    right: 40px; /* 修改为距离右侧 45px */
}

.link-group button.open-btn {
    right: 10px; /* 保持原有的 right 属性 */
}

@media screen and (max-width: 768px) {
    #products {
      grid-template-columns: repeat(2, 1fr); /* 屏幕小于768px时，每行显示两个产品 */
    }
}

@media screen and (max-width: 480px) {
    #products {
      grid-template-columns: 1fr; /* 屏幕小于480px时，每行显示一个产品 */
    }
}

.manage-link-full-cover{
    display: flex;
    justify-content: center;
}

.manage-link-container {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}
.manage-link-container th, .manage-link-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.manage-link-container th {
    background-color: #f2f2f2;
}
.edit-button, .save-button {
    cursor: pointer;
    color: blue;
    margin-right: 10px;
}

.setting-full-cover{
    display: flex;
    justify-content: center;
}

.settings-container{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px 40px;
}

.settings-container h2{
    font-weight: 900;
    margin: 0;
}

.setting-per-row{
    margin: 10px 0;
}

.setting-per-row label{
    text-align: center;
    align-content: center;
    width: 120px;
    font-size: 14px;
    color: black;
    margin-right: 10px;
}

.setting-per-row input{
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-weight: 900;
    color: black;
}

.setting-button-edit{
    margin-top: 10px;
    padding: 8px 20px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    background-color: #3498db;
    color: white;
}

.setting-button-edit:hover{
    background-color: #2980b9;
}
